body {
  background-color: whitesmoke;
}

h2 {
  background-color: deepskyblue ;
  text-align: center;
}

p {
  font-family: Arial;
}

h3 {
  color: seagreen;
}

.example p {
  background-color: white;
  border-left: 3px solid deepskyblue;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: "Courier New";
}
.tableb{
    border-collapse: collapse;
}
.tabled:hover{
    border-collapse: collapse;
    background-color: deepskyblue;
}

table, td, th {
    border: 1px solid black;

}

table {
  box-shadow: 5px 5px 5px #888888;
}

.tableb th {
  background-color: deepskyblue;
  height: 40px;
  text-align: center;
}

.tableb td{
  height: 25px;
  text-align: left;
  padding: 1px;
  text-align: center;
}

.tableb tr:nth-child(even){background-color: #BEBEBE}

h1 {
  font-size: 40px;
  text-align: center;
}

.example {
  box-shadow: 5px 5px 5px #808080;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #DCDCDC;
}

a:link, a:visited {
    color: black;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

